# Webshop - DML - Einfügen von Daten
### Hinweise
- In den Verbindungsparametern müssen Sie unter hostname die private IP-Adresse des MySQL-Servers einfügen (siehe Codelab).
- Auch das Passwort des root-Nutzers müssen Sie anpassen.
- Wenn Sie die gesamte webshop-Datenbank mit Daten befüllen möchten müssen Sie alle Zellen ausführen (Menü Run -> Run all cells).

In [ ]:
# verwendete Pakete
import mysql.connector
from numpy.random import randint, choice
from random import randrange
from datetime import timedelta, datetime

### Herstellen der Datenbankverbindung

#### Notwendige Verbindungsparameter

In [ ]:
hostname = ''  # die private IP-Adresse der Cloud SQL-Instanz
username = 'root'  # wir haben bisher nur root als Nutzer
password = ''  # das Kennwort, das Sie beim Anlegen der Instanz vergeben haben
database = 'webshop'  # dies ist unsere Webshop-Datenbank

### Hilfsfunktion zum Einfügen von Daten in die Datenbank

In [1]:
def insert_rows(table_name, rows, hostname, username, password, database, cols=None, delete_table=True):
    """ inserts the provided rows into the tabe table_name using the database connection conn
        - hostname, username, password, and database name required
        - rows needs to be a standard python list filled with tuples
        - if cols is provided, the column names are inserted into the insert-statement 
          otherwise values for all columns are assumed
        - if delete_table is set to True, the table is emptied before inserting new values
    """
    conn = mysql.connector.connect( host=hostname, user=username, passwd=password, db=database, autocommit=True)
    cur = conn.cursor()
    
    # only delete if flag is set
    if delete_table:
        cur.execute(f"delete from {table_name}")
        
    # iterate over all provided rows
    for r in rows:
        if cols:
            # specific columns inserted
            cur.execute(f"insert into {table_name} {cols} values {r}")
        else:
            # all columns inserted
            cur.execute(f"insert into {table_name} values {r}")
    print(f"Inserted {len(rows)} rows into table {table_name}")
    conn.close()

### Hilfsfunktion zum Generieren von Bestelldaten (Datum)

In [2]:
def random_date(start, end):
    """ This function will return a random datetime between two datetime objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

## Einfügen der Daten

### Tabelle Status

In [3]:
table_name = 'status'
states = [(1, 'Bestellt'), 
          (2, 'Kommissioniert'), 
          (3, 'Versendet'), 
          (4, 'Zugestellt'), 
          (5, 'Retoure')
        ]

insert_rows(table_name, states, hostname, username, password, database)

NameError: name 'hostname' is not defined

### Tabelle Kategorie

In [ ]:
table_name = 'kategorie'
categories = [(1, 'Molkereiprodukte'), 
              (2, 'Eier'), 
              (3, 'Süßwaren'), 
              (4, 'Obst'), 
              (5, 'Gemüse'),
              (6, 'Fleisch'),
              (7, 'Fisch')  # dieser Kategorie wird kein Produkt zugewiesen
        ]

insert_rows(table_name, categories, hostname, username, password, database)

### Tabelle Produkt

In [ ]:
table_name = 'produkt'

# Produkte mit Kategoriezuordnung
products_1 = [(1, 'Schokoladenpudding', '2020-11-24 12:15:59', 100, 0.8, 1),
            (2, 'Eier (Freilandhaltung)', '2020-11-24 13:16:59', 300, 2.2, 2),
            (3, 'Banane', '2020-11-24 14:10:55', 150, 0.23, 4),
            (4, 'Zitrone', '2020-11-25 11:13:59', 80, 0.34, 4),
            (5, 'Blumenkohl', '2020-10-24 12:15:59', 10, 1.8, 5),
            (6, 'Grillwurst', '2020-10-24 12:14:48', 50, 3.6, 6),
            (7, 'Weiße Schokolade', '2020-12-01 09:15:59', 90, 1.1, 3),
            (8, 'Zartbitterschokolade', '2020-11-28 16:15:59', 106, 0.9, 3),
            (9, 'Vollmilch', '2020-09-24 13:13:23', 80, 0.9, 1)            
        ]

insert_rows(table_name, products_1, hostname, username, password, database)

# Produkte ohne Kategoriezuordnung
products_2 = [(10, 'Katzenfutter', '2020-11-30 12:17:42', 10, 2.20), 
            (11, 'Hundefutter', '2020-11-30 12:17:48', 18, 2.40)]

insert_rows(table_name, products_2, hostname, username, password, database, cols="(pnr, bezeichnung, angelegt_am, verfuegbarkeit, preis)", delete_table=False)

products = products_1
products.extend(products_2)

### Tabelle Abteilung

In [ ]:
table_name = 'abteilung'
ous_without_parent = [(1, 'Unternehmensleitung')]
insert_rows(table_name, ous_without_parent, hostname, username, password, database, cols="(abtid, bezeichnung)")

ous_with_parent = [(2, 'Vertrieb', 1),
       (3, 'Einkauf', 1),
       (4, 'Strategischer Einkauf', 3),
       (5, 'Operativer Einkauf', 4)        
        ]

insert_rows(table_name, ous_with_parent, hostname, username, password, database, delete_table=False)

### Tabelle Benutzer

In [ ]:
table_name = 'benutzer'
users = [('peter.schulz@ab.de', 'geheim', 'Peter', 'Schulz'), 
         ('julia.meier@ab.de', 'geheim', 'Julia', 'Meier'),
         ('hans.mueller@xy.de', 'geheim', 'Hans', 'Müller'),
         ('lea.schmidt@xy.de', 'geheim', 'Lea', 'Schmidt'),
         ('leonie.hausmann@ms.de', 'geheim', 'Leonie', 'Hausmann'),
         ('fr.wiedel@ms.de', 'geheim', 'Friedrich', 'Wiedel'),
        ]

insert_rows(table_name, users, hostname, username, password, database)

### Tabelle Kunde

In [ ]:
table_name = 'kunde'
customers = [('peter.schulz@ab.de', 1, 'Hauptstr.', '1a', '76185', 'Karlsruhe', '1990-09-19'), 
             ('hans.mueller@xy.de', 2, 'Meisenweg', '12', '45472', 'Essen', '1961-04-13'),
             ('lea.schmidt@xy.de', 3, 'Schillerstr.', '75', '76135', 'Karlsruhe', '1992-11-11'),
             ('leonie.hausmann@ms.de', 4, 'Marktplatz', '14', '48459', 'Münster', '1988-01-23'),
            ]

insert_rows(table_name, customers, hostname, username, password, database)

### Tabelle Mitarbeiter

In [ ]:
table_name = 'mitarbeiter'
employees = [('julia.meier@ab.de', 1, '0721 5556655', 2),
             ('fr.wiedel@ms.de', 2, '0721 5556656', 4),
            ]

insert_rows(table_name, employees, hostname, username, password, database)

### Tabelle Warenkorbposition

In [ ]:
table_name = 'warenkorbposition'
basket_positions = []

for c in customers:
    # draw random number --> number of products in basket for this customer
    random_number_of_products = randint(1, len(products)+1)
    
    # draw without replacement from products
    chosen_products = choice(len(products), random_number_of_products, replace=False)
    
    # add products to basket
    for product_idx in chosen_products:
        product_id = products[product_idx][0] # get product id        
        amount = randint(1, 100) # draw random number --> amount of product in basket
        
        # customer email (c[0]), product_id, amount
        basket_positions.append((c[0], product_id, amount))

insert_rows(table_name, basket_positions, hostname, username, password, database)

### Tabellen Bestellung und Bestellposition
Für die Kunden werden zufällige Bestellungen erzeugt, die von zufällig ausgewählten Mitarbeitern bearbeitet werden und einen zufälligen Status haben. <br>
Zusätzlich werden zu jeder Bestellung eine zufällige Anzahl von Positionen mit Produkten und Mengen "befüllt".

In [ ]:
orders = []
order_positions = []

# start and end dates of orders (for random choice)
d1 = datetime.strptime('8/1/2020 1:30 PM', '%m/%d/%Y %I:%M %p')
d2 = datetime.strptime('11/25/2020 4:50 AM', '%m/%d/%Y %I:%M %p')

order_number = 1  # we will not use auto_increment here (easier referencing)

for c in customers:
    # draw random number --> number of orders
    number_of_orders = randint(1, 20)
    
    for order_idx in range(number_of_orders):
        
        # get random employee
        employee_email = employees[randint(1, len(employees))][0]
        
        # get random state
        state = states[randint(1, len(states))][0]
                
        # create order  - order number (not using auto_increment), random date, employee email, customer email, status
        orders.append((order_number, random_date(d1, d2).strftime("%Y-%m-%d %H:%M:%S"), employee_email, c[0], state))
        

        # draw random number --> number of products in order for this customer
        random_number_of_products = randint(1, len(products)+1)

        # draw without replacement from products
        chosen_products = choice(len(products), random_number_of_products, replace=False)

        # add products to order
        for product_idx in chosen_products:
            product_id = products[product_idx][0] # get product id        
            amount = randint(1, 100) # draw random number --> amount of product in order

            order_positions.append((order_number, product_id, amount))
            
        # increase order number
        order_number += 1

insert_rows('bestellung', orders, hostname, username, password, database)
insert_rows('bestellposition', order_positions, hostname, username, password, database)

### Tabelle GemeinsamerKauf

In [ ]:
table_name = 'gemeinsamerkauf'
correlated_sales_categories = [(1, 2), # Molkereiprodukte und Eier
                               (4, 5), # Obst und Gemüse
                               (3, 6)  # Süßwaren und Fleisch
                              ]

insert_rows(table_name, correlated_sales_categories, hostname, username, password, database)

### Prüfen der eingefügten Daten

In [ ]:
conn = mysql.connector.connect( host=hostname, user=username, passwd=password, db=database, autocommit=True)
cur = conn.cursor()

tables = ['status', 'kategorie', 'benutzer', 'produkt', 'abteilung', 'kunde', 'mitarbeiter', 
          'bestellung', 'warenkorbposition', 'bestellposition', 'gemeinsamerkauf']

for tbl in tables:
    cur.execute(f"select count(*) from {tbl}")
    print(f"Inserted {cur.fetchall()[0][0]} rows into table {tbl}")
    
conn.close()